.header{
  background-image: url(../img/bg_index.png);
  height: 560px;
}

.header h1,.link{
  margin-left: 40px;
}
.header h1{
  font-size: 48px;
  color:#00cc99;
  line-height: 1.5;
  padding-top: 110px;
  padding-bottom: 60px;
}
.header span{
  color:#fff;
}
.link{
  width: 220px;
  display: block;
  background: #00cc99;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  padding-top: 17px;
  padding-bottom: 17px;
}
.course, .comparison{
  padding: 0 43px; 
}
.title{
  display: flex;
  justify-content: space-between;
  padding: 60px 0 30px 0;
}
h2{
  font-size:34px;
  color:#00cc99;
  display:inline-block;
  padding-right: 15px;
}
.title p,.comparison p{
  font-size:20px ;
  color: #9b9b9b;
  display:inline-block;
}
.title a{
  text-decoration: none;
  color: #00cc99;
  padding: 5px;
  border: 3px solid #00cc99;
  border-radius: 10px;
}
.title a:hover{
  background: #00cc99;
  color: #fff;
}
.course-item{
  display: flex;
  justify-content: space-between;
}
.course-option{
  width: 300px;
  box-shadow:0 2px 10px #d9d9d9 ;
  text-align: center;
}
.course-option img{
  padding: 26px 0 18px 0;
}
.course-option h3{
  font-weight: bold;
  font-size: 20px;
}
.course-option p{
  text-align: start;
  line-height: 1.5;
  padding:16px 20px 27px 20px;
  color: #9b9b9b;
}
.comparison{
  padding-top: 60px;
}
table{
  margin:30px 0 60px 0;
  width: 938px;
  text-align: center;
}
th,td{
  padding: 17px 0;
  border-top:1px solid #ebebeb;
  border-bottom:1px solid #ebebeb;
}
th{
  background: #ebebeb;
}
.better{
  color: #00cc99;
}
.data{
  display: flex;
  justify-content: space-between;
  background: #ebebeb;
  padding: 140px 45px 62px 45px;
}
.data h2{
  font-size: 29px;
  color: #000;
  line-height: 1.5;
  padding: 17px 0 92px 0;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: transparent!important;
    background-image: none !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
.text,.submit{
  outline: none;
  border: none;
}
.text{
  width: 460px;
  height: 55px;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}
.submit{
  color: #fff;
  background: #00cc99;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  float: right;
}
