.header{
  background-image: url(../img/bg_QA.png);
  width: 1024px;
  height: 560px;
}
.header h1{
  font-size: 45px;
  color: #fff;
  padding:110px 0 15px 0;
  text-align: center;
}
.header p{
  font-size: 25px;
  color: #00cc99;
  text-align: center;
  padding-bottom:52px ;
}
.input-container{
  text-align: center;
}
.input-container input{
  padding-right: 50px;
  height: 52px;
  width: 570px;
  border-radius: 10px;
  outline: none;
  border: none;
}
.input-container .icon{
  position: relative;
  display: inline-block;
  left: -40px;
  top: 10px;
  background-image: url(../img/search.png);
  width: 25px;
  height: 25px;
  background-position: center center;
  background-size: cover;
}

.common,.pay,.refund{
  padding-left:120px;
  padding-right: 123px;
}
.common{
  padding-top: 60px;
}
.pay,.refund{
  padding-top: 30px;
}
.title h2{
  font-size: 34px;
  color: #00cc99;
  display: inline-block;
  margin-bottom: 3px;
}
.title p{
  font-size: 20px;
  color:#9b9b9b ;
  display: inline-block;
  padding-left: 20px;
  padding-top: 15px;
}
.content h3{
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 32px;
}
.content p{
  color: #9b9b9b;
  line-height: 1.5;
}

.content a{
  color: #00cc99;
  text-decoration: none;
}
.refund ul{
  list-style:none;
  padding-bottom: 30px;
}
.refund li{
  color: #9b9b9b;
  line-height: 1.5;
  text-indent: 32px;
}
.disc span{
  padding-left: 32px;
}
.disc::before{
  content: ".";
  font-size: 30px;
  vertical-align:50%;
  line-height:10px;
}
.refund h4{
  font-weight: bold;
  line-height: 1.5;
}
.data{
  margin-top: 30px;
  background:#ebebeb;
  display: flex;
  padding-top: 120px;
  padding-left: 43px;
}
.data h2{
  font-size: 30px;
  line-height: 2;
  padding-top: 15px;
  padding-right: 155px;
}
.text,.data textarea,.submit{
  outline: none;
  border: none;
  border-radius: 5px;
}
.text,.data textarea{
  width: 460px;
  /* height: 56px; */
  font-size: 20px;
  margin-bottom:20px ;
}
.text{
  height: 56px;
}
.data textarea{
  height: 205px;
}
.submit{
  color: #fff;
  background: #00cc99;
  font-size: 20px;
  padding: 15px 45px 15px 40px;
  float: right;
  margin-bottom:63px ;
}
